<div class="potting-soils">
  <div class="container">
    <a  routerLink="/plant/store/pottingsoilmixforfloweringplants" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-soil-and-fertilizers-potting-soil-mix-for-flowering-plants-5-kg-16969330393228_202x202.jpg?v=1634226777">
    </a>
    <div class="desc">POTTING SOIL MIX FOR FLOWERING PLANTS</div>
  </div>
  <div class="container">
    <a routerLink="/plant/store/nutrient-richgeneralpurposepottingsoilmix" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-soil-and-fertilizers-nutrient-rich-general-purpose-potting-soil-mix-5-kg-16969046098060_600x600.jpg?v=1634224986">
    </a>
    <div class="desc">NUTRIENT-RICH GENERAL PURPOSE POTTING SOIL MIX</div>
  </div>
 <div class="container">
    <a routerLink="/plant/store/pottingsoilmixforcactusandsucculentplants" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-soil-and-fertilizers-potting-soil-mix-for-cactus-and-succulent-plants-3-kg-16969331572876_1140x1140.jpg?v=1634226775">
    </a>
    <div class="desc">POTTING SOIL MIX FOR CACTUS AND SUCCULENT PLANTS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/generalpurposegardenpottingsoilmix" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-soil-and-fertilizers-general-purpose-garden-potting-soil-mix-5-kg-16968874164364_1140x1140.jpg?v=1634220123">
    </a>
    <div class="desc">GENERAL PURPOSE GARDEN POTTING SOIL MIX</div>
  </div>
 <div class="container">
    <a routerLink="/plant/store/pottingsoilmixforfruitplantsinpots" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-soil-and-fertilizers-potting-soil-mix-for-fruit-plants-in-pots-5-kg-16969330589836_600x600.jpg?v=1634226784">
    </a>
    <div class="desc">POTTING SOIL MIX FOR FRUIT PLANTS IN POTS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/pottingsoilmixforseedsgardening" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-soil-and-fertilizers-potting-soil-mix-for-seeds-gardening-5-kg-16969330950284.jpg?v=1634226798">
    </a>
    <div class="desc">POTTING SOIL MIX FOR SEEDS GARDENING</div>
  </div>
</div>


