<div class="SEEDS">
  <div class="container">
    <a  routerLink="/plant/store/marigold flower seeds" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-marigold-mixed-color-desi-flower-seeds-16969023357068_295x295.jpg?v=1634204296">
    </a>
    <div class="desc">MARIGOLDFLOWER SEEDS</div>
  </div>
  <div class="container">
    <a routerLink="/plant/store/sunflower seeds" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-sunflower-russian-giant-desi-flower-seeds-16969358639244_295x295.jpg?v=1634204990">
    </a>
    <div class="desc">SUNFLOWER SEEDS</div>
  </div>
 <div class="container">
    <a routerLink="/plant/store/cosmosflowerseeds" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-cosmos-orange-desi-flower-seeds-16968797421708_295x295.jpg?v=1634203725">
    </a>
    <div class="desc">COSMOSFLOWER SEEDS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/zinniaflowerseeds" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-zinnia-red-tall-desi-flower-seeds-16969445376140_295x295.jpg?v=1634205376">
    </a>
    <div class="desc">ZINNIAFLOWER SEEDS</div>
  </div>
 <div class="container">
    <a routerLink="/plant/store/balsamflowerseeds" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-balsam-single-desi-flower-seeds-16968611266700_295x295.jpg?v=1634202856">
    </a>
    <div class="desc">BALSAMFLOWER SEEDS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/vinca" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-vinca-mixed-color-periwinkle-mixed-color-desi-flower-seeds-16969421553804_295x295.jpg?v=1634205251">
    </a>
    <div class="desc">VINCAFLOWER SEEDS</div>
  </div>
</div>


