<div class="plant-type">
  <div class="container">
    <a  routerLink="/plant/store/lily" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-water-lily-nymphae-nouchali-blue-plant_295x295.jpg?v=1634230968" alt="aquatic plants">
    </a>
    <div class="desc">AQUATIC PLANTS</div>
  </div>
  <div class="container">
    <a routerLink="/plant/store/bamboo" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-combo-of-2-layer-and-3-layer-lucky-bamboo-plants-in-a-glass-vase-with-pebbles-16968793194636_295x295.jpg?v=1634216593" alt="Bamboo plants">
    </a>
    <div class="desc">BAMBOO PLANTS</div>
  </div>
  <div class="container">
    <a routerLink="/plant/store/bonsai" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-gifts-wish-good-luck-with-ficus-bonsai-and-laughing-buddha-16969427845260_295x295.jpg?v=1634231081">
    </a>
    <div class="desc">BONSAI PLANTS</div>
  </div>
  <div class="container">
    <a routerLink="/plant/store/cactus"routerLinkActive="list-item-active" >
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-red-bunny-cactus-opuntia-microdasys-cactus-plant_295x295.jpg?v=1634227373">
    </a>
    <div class="desc">CACTUS PLANTS</div>
  </div>
  <div class="container">
    <a routerLink="/plant/store/carnivorus" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/collections/nurserylive-carnivorous-plants-category-image_260x260.jpg?v=1616062863">
    </a>
    <div class="desc">CARNIVOROUS PLANTS</div>
  </div>
  <div class="container">
    <a routerLink="/plant/store/climber" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-bougainvillea-dwarf-pink-plant-1_295x295.jpg?v=1634214825">
    </a>
    <div class="desc">CLIMBER PLANTS</div>
  </div>
  <div class="container">
    <a routerLink="/plant/store/conifer" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/collections/nurserylive-plants-conifer-plants-category-image_260x260.jpg?v=1616078903">
    </a>
    <div class="desc">CONIFER PLANTS</div>
  </div>
  <div class="container">
    <a  routerLink="/plant/store/cycad" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-cycas-plant-queen-sago-cycas-circinalis-plant-16968809578636_295x295.jpg?v=1634217370" alt="aquatic plants">
    </a>
    <div class="desc">CYCAD PLANTS</div>
  </div>
  <div class="container">
    <a  routerLink="/plant/store/fig" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-fig-tree-anjeer-fruit-common-fig-fruit-plant-16968860139660_600x600.jpg?v=1634219606" alt="aquatic plants">
    </a>
    <div class="desc">FIG PLANTS</div>
  </div>
  <div class="container">
    <a  routerLink="/plant/store/fruits" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-pomegranate-annar-anar-grafted-plant-16969218064524_295x295.jpg?v=1646287095" alt="aquatic plants">
    </a>
    <div class="desc">FRUIT PLANTS</div>
  </div>
  <div class="container">
    <a  routerLink="/plant/store/herb" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-lemon-balm-plant_295x295.jpg?v=1634227083" alt="aquatic plants">
    </a>
    <div class="desc">HERB PLANTS</div>
  </div>
  <div class="container">
    <a  routerLink="/plant/store/kokedama" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-kokedama-elegant-moss-balls-for-beautiful-surrounding-kokedama-16968840675468_295x295.jpg?v=1634219840" alt="aquatic plants">
    </a>
    <div class="desc">KOKEDAMA PLANTS</div>
  </div>
  <div class="container">
    <a  routerLink="/plant/store/shrubs" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-hydrangea-macrophylla-blue-plant_295x295.jpg?v=1634222084" alt="aquatic plants">
    </a>
    <div class="desc">SHRUBS</div>
  </div>
  <div class="container">
    <a  routerLink="/plant/store/ficus" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-rubber-tree-rubber-plant-ficus-elastica-robusta-plant-16969284124812_295x295.jpg?v=1634227723" alt="aquatic plants">
    </a>
    <div class="desc">FICUS PLANTS</div>
  </div>
  <!-- <div class="container">
    <a  routerLink="/plant/store/Aquatic Plants" routerLinkActive="list-item-active">
      <img src="" alt="aquatic plants">
    </a>
    <div class="desc">SHRUBS</div>
  </div> -->

  
</div>