<div class="Pots-size">
  <div class="container">
    <a  routerLink="/plant/store/5.5 inch(14cm) Square Plastic Planter Pots" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-g-5-5-inch-14-cm-square-plastic-planter-with-rounded-edges-pack-of-5_600x600.jpg?v=1639038639">
    </a>
    <div class="desc">5.5 inch(14cm) SQUARE PLASTIC PLANTER POTS</div>
  </div>
  <div class="container">
    <a routerLink="/plant/store/7.9 inch(20cm) D-Shape PLASTIC PLANTER Pots" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-combo-packs-pots-7-9-inch-20-cm-bello-railing-d-shape-plastic-planters-mix-color-pack-of-six-16968528396428_600x600.jpg?v=1634210333">
    </a>
    <div class="desc">7.9 inch(20cm) D-Shape PLASTIC PLANTER POTS</div>
  </div>
 <div class="container">
    <a routerLink="/plant/store/12 inch (30 cm) Round Grow Bag (Green)" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-planters-12-inch-30-cm-round-grow-bag-green-16968405450892_600x600.jpg?v=1634206102">
    </a>
    <div class="desc">12 inch (30cm) ROUND GROW BAG (GREEN)</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/7.8 inch (20 cm) Hanging Round Plastic planter pots" routerLinkActive="list-item-active">
      <img src="https://images.meesho.com/images/products/179490730/harql_512.jpg">
    </a>
    <div class="desc">7.8 inch (20 cm) HANGING ROUND PLASTIC PLANTER POT</div>
  </div>
 <div class="container">
    <a routerLink="/plant/store/8 inch(20cm) Round Plastic Planter Pot" routerLinkActive="list-item-active">
      <img src="https://m.media-amazon.com/images/I/519IOyq5TTL._SL1000_.jpg">
    </a>
    <div class="desc">8 inch ROUND PLASTIC PLANTER POT</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/10 inch Planter Pot" routerLinkActive="list-item-active">
      <img src="https://m.media-amazon.com/images/I/51mhx6StIYL.jpg">
    </a>
    <div class="desc">10 inch(25 cm) PLANTER POT</div>
  </div>
</div>


