<div class="organic-fertilizers">
  <div class="container">
    <a  routerLink="/plant/store/rosebooster" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-soil-and-fertilizers-rose-blooster-50-ml-set-of-2-1_152x202.jpg?v=1664880032">
    </a>
    <div class="desc">ROSE BOOSTER</div>
  </div>
  <div class="container">
    <a routerLink="/plant/store/neemcake" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-soil-and-fertilizers-neem-cake-1-kg_e499f8e0-c4dd-43f8-8461-7e32275aa3f4_202x202.jpg?v=1663338729">
    </a>
    <div class="desc">NEEM CAKE</div>
  </div>
 <div class="container">
    <a routerLink="/plant/store/bonemealpowder" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-fertilizer-bone-meal-powder-250-gm-for-garden_202x202.jpg?v=1634214743">
    </a>
    <div class="desc">BONE MEAL POWDER</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/jeevamruth" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-fertilizer-jeevamrut-plant-growth-tonic-500-ml-for-garden-1_jpg_152x202.jpg?v=1664880172">
    </a>
    <div class="desc">JEEVAMRUTH</div>
  </div>
 <div class="container">
    <a routerLink="/plant/store/sterameal" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-soil-and-fertilizers-sterameal-1-kg-16969349660812_1140x1140.jpg?v=1634229282">
    </a>
    <div class="desc">STERAMEAL</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/sea secret" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-g-sea-secret-sea-weed-extract-granules-500-g-set-of-2_600x600.jpg?v=1634228150">
    </a>
    <div class="desc">SEA SECRET</div>
  </div>
</div>


