<footer>
  <span class="left">
    Blooming Delights</span>
  <a href="https://youtube.com">
    <i class="fab fa-youtube" aria-hidden="true"></i>
  </a>
  <a href="https://facebook.com">
    <i class="fab fa-facebook" aria-hidden="true"></i>
  </a>
  <a href="https://instagram.com">
    <i class="fab fa-instagram" aria-hidden="true"></i>
  </a>
  <a href="https://twitter.com">
    <i class="fab fa-twitter" aria-hidden="true"></i>
  </a>
  <span class="right"> &copy; 2022 Online Nursery Store - all rights reserved</span>
</footer>