<ng-template [ngIf]="plants">
  <!-- <div class="categories">
    <a  routerLink="/plant/store/Seeds"routerLinkActive="list-item-active">Seeds</a>
    <a  routerLink="/plant/store/Live Plants"routerLinkActive="list-item-active"> Live Plants</a>
    <a  routerLink="/plant/store/Watering Equipment"routerLinkActive="list-item-active">Watering Equipment</a>
    <a  routerLink="/plant/store/Fertilizers"routerLinkActive="list-item-active">Fertilizers</a>
    <a  routerLink="/plant/store/Gardening Tools"routerLinkActive="list-item-active">Gardening Tools</a>
  </div> -->
  <div class="plants-store">
    <app-plant *ngFor="let plant of plants | paginate: {
    itemsPerPage: pageSize,
    currentPage: currentPage,
    totalItems: total }" [plant]="plant"></app-plant>
  </div>
  <div *ngIf="plants.length === 0" class="no-results">
    <img src="https://i.imgur.com/KRVihMq.png" alt="no-item-found">
  </div>
  <div class="bottom">
    <pagination-controls
      (pageChange)="pageChanged($event)"
      maxSize="{{maxPages}}"
      directionLinks="true"
      autoHide="true"
      responsive="true"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</ng-template>