<div class="flowering-plant">
  <div class="container">
    <a  routerLink="/plant/store/rose" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-rose-red-plant-16969265807500_295x295.jpg?v=1634227456">
    </a>
    <div class="desc">ROSE</div>
  </div>
  <div class="container">
    <a routerLink="/plant/store/tecoma" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-tecoma-shrub-any-color-plant-16969375514764_295x295.jpg?v=1634202603">
    </a>
    <div class="desc">TECOMA PLANT</div>
  </div>
 <div class="container">
    <a routerLink="/plant/store/hibiscus" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-hibiscus-gudhal-flower-red-double-plant-16968931901580_295x295.jpg?v=1634221760">
    </a>
    <div class="desc">HIBISCUS PLANT</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/chrysanthemum" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-g-shevanti-chrysanthemum-yellow-plant_295x295.jpg?v=1670227936">
    </a>
    <div class="desc">CHRYSANTHEMUM</div>
  </div>
 <div class="container">
    <a routerLink="/plant/store/marigold" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-french-marigold-red-plant_295x295.jpg?v=1634221061">
    </a>
    <div class="desc">MARIGOLD PLANTS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/lily" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-plants-eucharis-amazon-lily-plant-16968848244876_295x295.jpg?v=1634219088">
    </a>
    <div class="desc">LILY PLANTS</div>
  </div>
</div>


