<div class="pebbles">
  <div class="container">
    <a  routerLink="/plant/store/pebbles" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-combo-packs-pebbles-pebbles-to-beautify-wall-terrarium-16969166782604.jpg?v=1634225623" alt="trending_pebbles">
    </a>
    <div class="desc">TRENDING PEBBLES</div>
  </div>
  <div class="container">
    <a  routerLink="/plant/store/pebble" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/collections/nurserylive-purple-pebbles-category-image_217x217.jpg?v=1623403850" alt="pebbles by color">
    </a>
    <div class="desc">PEBBLES BY COLOR</div>
  </div>
  <div class="container">
    <a  routerLink="/plant/store/pebble size" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-pebbles-river-pebbles-brown-big-polished-2-kg-16969254961292_295x295.jpg?v=1634227589" alt="pebbles by size">
    </a>
    <div class="desc">PEBBLES BY SIZE</div>
  </div>
  <div class="container">
    <a  routerLink="/plant/store/pebbletype" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/collections/nurserylive-aquarium-pebbles-category-image_217x217.jpg?v=1623403591" alt="pebbles by type">
    </a>
    <div class="desc">PEBBLES BY TYPE</div>
  </div>

</div>