<div class="fruit-seeds">
  <div class="container">
    <a  routerLink="/plant/store/guava" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-psidium-guajava-guava-0-5-kg-seeds-16969230647436_295x295.jpg?v=1634227058">
    </a>
    <div class="desc">GUAVA SEEDS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/papaya" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-papaya-shah-nanah-fruit-seeds-16969106522252_295x295.jpg?v=1634204490">
    </a>
    <div class="desc">PAPAYA SEEDS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/custardapple" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-annona-squamosa-sharifa-custard-apple-sitafal-0-5-kg-seeds-16968593604748_295x295.jpg?v=1634213775">
    </a>
    <div class="desc">CUSTARDAPPLE SEEDS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/mango" routerLinkActive="list-item-active">
      <img src="https://www.plantsguru.com/image/cache/data/Fruit%20Plants/plantsguru-fruitplants-mango-kesar-400x400.jpg">
    </a>
    <div class="desc">MANGO SEEDS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/litchi" routerLinkActive="list-item-active">
      <img src="https://www.plantsguru.com/image/cache/data/fruit%20plants%20seeds/plantsguru-fruitplantseeds-Nephelium-Litchi-400x400.jpg">
    </a>
    <div class="desc">LITCHI SEEDS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/watermelon" routerLinkActive="list-item-active">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB7pPEclf2CptPgTGG9bcqLgsgcqClmQQWNQ&usqp=CAU">
    </a>
    <div class="desc">WATERMELON SEEDS</div>
  </div>

