<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
     <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Plants
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/plant/store/Pots" routerLinkActive="list-item-active">Action</a></li>
            <li><a class="dropdown-item" routerLink="/plant/store/Pots" routerLinkActive="list-item-active">Action</a></li>
            <li><a class="dropdown-item" routerLink="/plant/store/Pots" routerLinkActive="list-item-active">Action</a></li>
            <li><a class="dropdown-item" routerLink="/plant/store/Pots" routerLinkActive="list-item-active">Action</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->


<ul class="nav nav-tabs">
  <!-- <li class="nav-item">
    <a class="nav-link Active" aria-current="page" routerLink="/categories/planttype" routerLinkActive="list-item-active">Plant</a>
  </li> -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Plants</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/categories/planttype" routerLinkActive="list-item-active">Plants By Type</a></li>
      <li><a class="dropdown-item" routerLink="/categories/floweringplants" routerLinkActive="list-item-active">Flowering Plants</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Seeds</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/plant/store/flowerseeds" routerLinkActive="list-item-active">Flower Seeds</a></li>
      <li><a class="dropdown-item" routerLink="/plant/store/vegetableseeds" routerLinkActive="list-item-active">Vegetable seeds</a></li>
      <li><a class="dropdown-item" routerLink="/plant/store/fruitseeds" routerLinkActive="list-item-active">Fruits seeds</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button" aria-expanded="false">Soil and Fertilizers</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/categories/organicfertiliser" routerLinkActive="list-item-active">Organic Fertiliser</a></li>
      <li><a class="dropdown-item" routerLink="/categories/pottingsoil" routerLinkActive="list-item-active">Potting Soil</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Gardening Tools</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/plant/store/gardening tools" routerLinkActive="list-item-active" >Gardening Tools</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Pots</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/categories/potsize" routerLinkActive="list-item-active">Pots By Size</a></li>
      <li><a class="dropdown-item" routerLink="/categories/potmaterial" routerLinkActive="list-item-active">Pots By Color</a></li>  
    </ul>
  </li>
  <!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown"  role="button" aria-expanded="false">Gifts</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/plant/store/gifts" routerLinkActive="list-item-active">Gifts on Ocassions</a></li>
    </ul>
  </li> -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown"  role="button" aria-expanded="false">Pebbles</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/categories/pebbles" routerLinkActive="list-item-active" >Types of Pebbles</a></li>
    </ul>
  </li>

  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li> -->
</ul>