<div class="Vegetable-seeds">
  <div class="container">
    <a  routerLink="/plant/store/tomato" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-tomato-cherry-red-organic-vegetable-seeds-16969381478540_295x295.jpg?v=1634205074">
    </a>
    <div class="desc">TOMATO SEEDS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/peas" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-peas-azad-p1-desi-vegetable-seeds-16969165701260_295x295.jpg?v=1634204520">
    </a>
    <div class="desc">PEAS SEEDS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/brinjal" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-brinjal-purple-long-desi-vegetable-seeds-16968662319244_512x512.jpg?v=1634203145">
    </a>
    <div class="desc">BRINJAL</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/ladyfingerseeds" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-bhindi-okra-f1-sujata-vegetable-seeds-16969055305868_295x295.jpg?v=1634202940">
    </a>
    <div class="desc">LADY FINGER SEEDS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/cucumber" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-cucumber-green-organic-vegetable-seeds-16968806367372_295x295.jpg?v=1634203766">
    </a>
    <div class="desc">CUCUMBER SEEDS</div>
  </div>
<div class="container">
    <a routerLink="/plant/store/bittergourd" routerLinkActive="list-item-active">
      <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/products/nurserylive-seeds-bitter-gourd-summer-special-desi-vegetable-seeds-16968642953356_295x295.jpg?v=1634202994">
    </a>
    <div class="desc">BITTER GOURD</div>
  </div>
</div>

